<form class="form">
  <!-- block title form -->
  <header class="form-header">
    <h2 class="form-title">
      <i class="icon-edit"></i>
      Nova Empresa
    </h2>
    <p class="form-description">Preencha as informações ao lado e clique em "adicionar"</p>

    <div class="form-is-simplified">
      Cadastro simplificado
      <div class="checkbox-slider">
        <input class="checkbox" type="checkbox" value="1" id="checkbox-sliderInput" name="">
        <label for="checkbox-sliderInput"></label>
      </div>
    </div>

  </header>
  <!-- block title form -->

  <!-- form content -->
  <div class="form-content">
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="form-label">
          Dados da empresa
          <label class="input-label" for="">
            <div class="checkbox-simple">
              <input class="checkbox" type="checkbox" value="1" id="checkbox-simpleInput" name="" />

              <label for="checkbox-simpleInput">
              </label>
            </div>
            AG
          </label>
          <label class="input-label" for="">
            <div class="checkbox-simple">
              <input class="checkbox" type="checkbox" value="1" id="checkbox-simpleInput" name="" />

              <label for="checkbox-simpleInput">
              </label>
            </div>
            CD
          </label>
        </label>
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simpleInput" name="" />

            <label for="checkbox-simpleInput">
            </label>
          </div>
          Master
        </label>
        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simpleInput" name="" />

            <label for="checkbox-simpleInput">
            </label>
          </div>
          Produtor

        </label>
        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simpleInput" name="" />

            <label for="checkbox-simpleInput">
            </label>
          </div>
          Industia
        </label>
        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simpleInput" name="" />

            <label for="checkbox-simpleInput">
            </label>
          </div>
          Revenda

        </label>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <input type="text" class="form-control" placeholder="Nome / Razão Social">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <input type="text" class="form-control" placeholder="Nome Fantasia">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <input type="text" class="form-control" placeholder="CNPJ">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <select class="form-control" name="" id="">
          <option value="">Selecionar Perfil</option>
        </select>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="form-label">
          Dados do usuário
        </label>
        <input type="text" class="form-control" placeholder="email">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="label-fake"></label>
        <input type="password" class="form-control" placeholder="************">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="input-label" for="">
          <input type="checkbox">Usuário Master
        </label>
        <label class="input-label" for="">
          <input type="checkbox">Administrador do sistema
        </label>
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="input-label" for="">
          <input type="checkbox">Visualização de dados com pagamento expirado
        </label>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="form-label">
          Outros
        </label>
        <select class="form-control" name="" id="">
          <option value="">matriz do grupo</option>
        </select>
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="label-fake">
        </label>
        <select class="form-control" name="" id="">
          <option value="">30 - BALSAS / MA</option>
        </select>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
  </div>
  <!-- form content -->

  <!-- form actions -->
  <div class="form-actions">
    <h2>Finalização</h2>
    <button>confirmar & finalizar</button>
  </div>
  <!-- form actions -->
</form>
