<form class="form">
  <!-- block title form -->
  <header class="form-header">
    <h2 class="form-title">
      <i class="icon-edit"></i>
      Nova Empresa
    </h2>
    <p class="form-description">Preencha as informações ao lado e clique em "adicionar"</p>

    <div class="form-is-simplified">
      Cadastro simplificado
      <div class="checkbox-slider">
        <input class="checkbox" type="checkbox" value="1" id="checkbox-cad-simple" name="">
        <label for="checkbox-cad-simple"></label>
      </div>
    </div>

  </header>
  <!-- block title form -->

  <!-- form content -->
  <div class="form-content">
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <p class="form-section-title">
          <span class="text">Dados da empresa</span>
          <label class="input-label" for="">
            <div class="checkbox-simple">
              <input class="checkbox" type="checkbox" value="1" id="checkbox-1" name="" />

              <label for="checkbox-1">
              </label>
            </div>
            AG
          </label>
          <label class="input-label" for="">
            <div class="checkbox-simple">
              <input class="checkbox" type="checkbox" value="1" id="checkbox-simple2" name="" />

              <label for="checkbox-simple2">
              </label>
            </div>
            CD
          </label>
        </p>
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simple2" name="" />

            <label for="checkbox-simple2">
            </label>
          </div>
          Master
        </label>
        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simple3" name="" />

            <label for="checkbox-simple3">
            </label>
          </div>
          Produtor

        </label>
        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simple4" name="" />

            <label for="checkbox-simple4">
            </label>
          </div>
          Industia
        </label>
        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simple5" name="" />

            <label for="checkbox-simple5">
            </label>
          </div>
          Revenda

        </label>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <input type="text" class="form-control" placeholder="Nome / Razão Social">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <input type="text" class="form-control" placeholder="Nome Fantasia">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <input type="text" class="form-control" placeholder="CNPJ">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <select class="form-control" name="" id="">
          <option value="">Selecionar Perfil</option>
        </select>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <p class="form-section-title">
          <span class="text">Dados do usuário</span>
        </p>
        <input type="text" class="form-control" placeholder="email">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="label-fake"></label>
        <input type="password" class="form-control" placeholder="************">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">

        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simple6" name="" />
            <label for="checkbox-simple6">
            </label>
          </div>
          Usuário Master
        </label>

        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simple7" name="" />
            <label for="checkbox-simple7">
            </label>
          </div>
          Administrador do sistema
        </label>

      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">

        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simple8" name="" />
            <label for="checkbox-simple8">
            </label>
          </div>
          Visualização de dados com pagamento expirado
        </label>
      </div>

      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <p class="form-section-title">
          <span class="text">Outros</span>
        </p>
        <select class="form-control" name="" id="">
          <option value="">matriz do grupo</option>
        </select>
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="label-fake">
        </label>
        <select class="form-control" name="" id="">
          <option value="">30 - BALSAS / MA</option>
        </select>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
  </div>
  <!-- form content -->

  <!-- form actions -->
  <div class="form-actions">
    <h2 class="form-title">
      Finalização
    </h2>

    <button class="form-btn form-btn-add-repeat">
      <span class="icon-form-finish-repeat"></span>
      <span class="text">confirmar
        <br> & continuar adicionando
      </span>
    </button>
    <button class="form-btn form-btn-add">
      <span class="icon-form-finish">
        <span class="icon-form-finish-single first"></span>
        <span class="icon-form-finish-single second"></span>
      </span>
      <span class="text">confirmar
        <br> & finalizar</span>
    </button>
  </div>
  <!-- form actions -->
</form>
