<form class="form">
  <!-- block title form -->
  <header class="form-header">
    <h2 class="form-title">
      <i class="icon-edit"></i>
      Cadastrar Filial
    </h2>
    <p class="form-description">
      Preencha as informações ao lado e clique no botão para confirmar. Caso desista, é só clicar no botão de cancelar.
    </p>
  </header>
  <!-- block title form -->

  <!-- form content -->
  <div class="form-content">
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <p class="form-section-title">
          <span class="text">Dados da Filial</span>
        </p>
        <input type="text" class="form-control" placeholder="nome da filial">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="label-fake"></label>
        <input type="text" class="form-control" placeholder="UF da filial">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--single">
        <input type="text" class="form-control" placeholder="código logix">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <p class="form-section-title">
          <span class="text">Outras informações</span>
        </p>
        <input type="text" class="form-control" placeholder="op#1">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="label-fake"></label>
        <input type="text" class="form-control" placeholder="op#2">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <input type="text" class="form-control" placeholder="op#3">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <input type="text" class="form-control" placeholder="op#4">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
  </div>
  <!-- form content -->

  <!-- form actions -->
  <div class="form-actions">
    <h2 class="form-title">
      Finalização
    </h2>
    <button class="form-btn form-btn-finish form-btn-large">
      <span class="icon-form-finish">
        <span class="icon-form-finish-single first"></span>
        <span class="icon-form-finish-single second"></span>
      </span>
      <span class="text">confirmar & finalizar</span>
    </button>
  </div>
  <!-- form actions -->
</form>
