<section>

  <div class="destaques">
    <!--Destaque Item - Bem Vindo-->
    <div class="destaques__item destaques__item--bemvindo">
      <h2 class="destaques__item__title">Olá Produtor!</h2>
      <h3 class="destaques__item__subtitle">Seja bem vindo ao seu portal netAG</h3>

      <p class="destaques__item__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <a class="destaques__item__link-action" href="#">Gerenciar Destaques</a>
    </div>
    <!--Destaque Item - Bem Vindo-->

    <!--Destaque Item - Large-->
    <div class="destaques__item destaques__item--fixed destaques__item--large">
      <p class="destaques__item__text">
        Destaque Fixo / Infográfico #1
      </p>
    </div>
    <!--Destaque Item - Large-->

    <!--Destaque Item - Default-->
    <div class="destaques__item destaques__item--fixed">
      <p class="destaques__item__text">
        Destaque Fixo / Infográfico #2
      </p>
    </div>
    <!--Destaque Item - Default-->
  </div>

  <div class="destaques-mini">
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      #destaque #1
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      #destaque #2
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      #destaque #3
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      #destaque #4
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      #destaque #5
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      #destaque #6
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      #destaque #7
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      #destaque #8
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      #destaque #9
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      #destaque #10
    </div>
    <!--Destaque Item - Default-->
  </div>

</section>
