<main class="login">
  <form action="" class="login__form">
    <div class="login__logo">
      <img class="login__logo__img" src="./../../../../assets/img/login/logo.png" alt="Net AG">
    </div>

    <!--input email-->
    <div class="form__group">
      <input type="text" placeholder="email" class="form__group__input">
    </div>
    <!--input email-->

    <!--input email-->
    <div class="form__group">
      <input type="password" placeholder="senha" class="form__group__input">
    </div>
    <!--input email-->

    <div class="form__group form__group--actions">
      <button class="btn btn--login" [routerLink]="['/master']">entrar</button>
    </div>
  </form>
</main>
