.modal {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    transition: all .3s;

    &--opened {
        display: flex !important;
    }

    &--overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, .7);
        z-index: 5;
    }

    &--close-container {
        position: absolute;
        top: 0;
        right: -60px;
        cursor: pointer;

        & .icon-close {
            &:before {
                color: #fff;
                font-size: 40px;
            }
        }


    }

    &--container {
        width: 533px;
        // height: 623px;
        background-color: #fff;
        z-index: 6;
        position: relative;
        border-radius: 20px;
        padding: 60px 70px 40px;
    }

    &--container--filtros {
        z-index: 6;
        position: relative;
        border-radius: 20px;
        padding: 60px 70px 40px;

      & .form-header {
        background-color: #fff;
      }

      & .form-content {
        background-color: #fff;
      }

      & .form-actions {
        background-color: #fff;
      }
    }

    &--title{
        font-family: Roboto;
        font-weight: bold;
        font-size: 29px;
        text-align: center;
        margin-bottom: 66px;
            color: $color-primary;
    }
    &--text{
        font-family: Roboto;
        font-size: 18px;
        line-height: 1.4;

        &--ornament {
            color: $color-primary;
        }

        & + & {
            margin-top: 25px;
        }
    }

    &--action {
        margin-top: 80px;

        & .modal--btn-icon-text {
            font-family: Roboto;
            font-size: 20px;
            font-weight: bold;
            color: $color-primary;
            text-align: center;
            background: transparent;
            border: none;
            display: block;
            width: 100%;
            cursor: pointer;
            outline: none;

            & .icon-delete {
                color: #727376;
            }
        }
    }
}

.modal--header--icon-container {
    width: 167px;
    height: 167px;
    border-radius: 50%;
    border: 4px solid $color-primary;
    @extend .flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;

    & .modal--header--icon {
        &:before {
            color: $color-primary;
            font-size: 80px;
        }
    }
}

.form-content--filtros {
  display: flex;
  justify-content: space-between;

  & .form-content--informacoes {
    flex: 1;

    .form-description {
      font-size: 14px;
      line-height: 1.6;
    }
  }
  & .form-content--ordenacao {
    flex: 1;
    padding-top: 40px;
    margin: 0 30px;
    color: $color-gray-fifth;
    font-family: Roboto, sans-serif;

    label {
      display: block;
      margin: 10px 0;
    }
  }
  & .form-content--ordem-colunas {
    flex: 1;

    .ordenacao-colunas--tabela {
      display: block;
      border: 4px solid $color-gray-primary;
      background-color: $color-gray-second;
      color: $color-gray-fifth;
      font-size: 16px;
      text-align: center;
      line-height: 32px;
      margin: 5px 0;
      border-radius: 7px;
    }
  }
}
