<form class="form">
  <!-- block title form -->
  <header class="form-header">
    <h2 class="form-title">
      <i class="icon-edit"></i>
      Solicitação
    </h2>
    <p class="form-description">Preencha ao lado os dados de sua solicitação que retornaremos assim que possível!</p>
  </header>
  <!-- block title form -->

  <!-- form content -->
  <div class="form-content">
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <p class="form-section-title">
          <span class="text">Dados do Solicitante</span>
        </p>
        <input type="text" class="form-control" placeholder="nome da filial">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="label-fake"></label>
        <input type="text" class="form-control" placeholder="email para retorno">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <input type="text" class="form-control" placeholder="telefone para contato">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        Prioridade: 
        <label for="">
          <input type="checkbox" value="normal" name="prioridade" />
          Normal
        </label>

        <label for="">
          <input type="checkbox" value="normal" name="prioridade" /> Urgente
        </label>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half input-simplified">
        <p class="form-section-title">
          <span class="text">Retirada por parte do cliente (optional)</span>
        </p>
        <input type="text" class="form-control" placeholder="previsão de retirada">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row --><!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <p class="form-section-title">
          <span class="text">Retirada por parte do cliente (opcional)</span>
        </p>
        <input type="text" class="form-control" placeholder="previsão da retirada">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="label-fake"></label>
        Prioridade:
        <label for="">
          <input type="checkbox" value="normal" name="prioridade" /> Manhã
        </label>
      
        <label for="">
          <input type="checkbox" value="normal" name="prioridade" /> Tarde
        </label>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group">
        <p class="form-section-title">
          <span class="text">Mensagem</span> <label class="form-control--add-file">anexar documento <i class="icon-clips"></i></label>
        </p>
        <textarea name="" id="" cols="30" rows="20" class="form-control form-control--textarea" placeholder="escreva aqui sua mensagem..."></textarea>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
  </div>
  <!-- form content -->

  <!-- form actions -->
  <div class="form-actions">
    <h2 class="form-title">
      Setor Selecionado:<br>
      Informações
    </h2>
    <p class="form-text">
      Equipe<br>
      GOLDEN CARGO<br>
      sac@goldencargo.com.br
    </p>
  </div>
  <!-- form actions -->
</form>