<div class="table-container">
  <div class="table-container__top-actions">

    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--left">
      <li class="table__action_top_btn">
        <span class="icon-pdf table__action_top_btn__icon"></span>
      </li>
      <li class="table__action_top_btn">
        <span class="icon-excel-file table__action_top_btn__icon"></span>
      </li>
    </ul>
    <!--table action-->
    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--center">
      <li class="table__action_top_btn">
        <span class="icon-arrow-left table__action_top_btn__icon"></span>
      </li>
      <li class="table__action_top_btn">
        <span class="icon-arrow-right table__action_top_btn__icon"></span>
      </li>
    </ul>
    <!--table action-->
    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--right">
      <li class="table__action_top_btn">
        <span class="icon-view table__action_top_btn__icon"></span>
      </li>
      <li class="table__action_top_btn">
        <span class="icon-config table__action_top_btn__icon"></span>
      </li>
    </ul>
    <!--table action-->
  </div>

  <!--table - info list-->
  <table class="table">

    <thead>
      <tr>
        <th *ngFor="let theadItem of data.table.thead">
          <i class="icon-ordenation th-icon-ordenation"></i>
          {{theadItem.text}}
        </th>
      </tr>
    </thead>

    <tbody>
    <!--tr-->
    <tr *ngFor="let tbodyRow of data.table.tbody" [ngClass]="{'tr-separator': tbodyRow.isSeparator===true}">

      <!--list all coluns-->
      <td *ngFor="let tbodyItem of tbodyRow.items; let i = index" class="{{getFirstColumTextClass(tbodyItem, i)}}">
        <i *ngIf="i===0 && tbodyItem.hasBtnAction" class="icon-plus-full show-info index-{{i}} {{getFirstColumBtnClass(tbodyItem, i)}}"></i>
        {{tbodyItem.text}}
      </td>
      <!--list all coluns-->

      <!--show actions-->
      <td *ngIf="tbodyRow.actions.length">
        <i *ngFor="let actionItem of tbodyRow.actions" class="{{actionItem.classes}}" title="{{actionItem.title}}"></i>
      </td>
      <!--show actions-->
    </tr>
    <!--tr-->
    </tbody>

  </table>
  <!--table - info list-->

</div>
