<section class="search">
  <!--action/info/etc-->
  <div class="search__action">
    <h2 class="search__action__title">Consulta de Recebimentos</h2>
  </div>
  <!--action/info/etc-->

  <!-- search form -->
  <form action="" class="search__form">

    <!--search by free text-->
    <div class="search__form__by-text">
      <h4 class="search__form__by-text__title">Buscando algo específico?</h4>
      <p class="search__form__by-text__text">
        Use os filtros ou use a lupa para procurar em toda a tabela
      </p>

      <div class="form__grouped">
        <span class="icon-search-simple form__grouped__icon"></span>
        <input type="text" class="form__grouped__input-control">
      </div>
    </div>
    <!--search by free text-->

    <!--search by inputs-->
    <div class="search__form__by-inputs">
      <div class="search__form__by-inputs__manage-filters">
        <p>
          <span class="icon-filtro"></span>
          <span class="text open-modal" data-modal-id="modal-gerenciar-filtros">Gerenciar Filtros</span>
        </p>
      </div>

      <div class="search__form__by-inputs__content">
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="cnpj">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="nota fiscal">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="código">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="lote">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="produto">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="data entrada">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="data conclusão">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
      </div>
    </div>
    <!--search by inputs-->

  </form>
  <!-- search form -->
</section>


<!-- TABLE -->
<div class="table-container">
  <div class="table-container__top-actions">

    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--left">
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-pdf"></span>
        </span>
      </li>
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-excel-file"></span>
        </span>
      </li>
    </ul>
    <!--table action-->
    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--center">
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-arrow-left"></span>
        </span>
      </li>
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-arrow-right"></span>
        </span>
      </li>
    </ul>
    <!--table action-->
    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--right">
      <li class="list-action">
        <span class="list-action__btn list-action__btn--free-width">
          <span class="list-action__btn__icon icon-view"></span>
          resultados por página
          <span>10</span>
        </span>
      </li>
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-config"></span>
        </span>
      </li>
    </ul>
    <!--table action-->
  </div>

  <!--table - info list-->
  <table class="table">

    <thead>
      <tr>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Status
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Filial & Código
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Nome & CNPJ do pagador
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Nota Origem
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Qnt. Itens
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Peso NF
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Valor NF
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Recebido em
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Conferido em
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Conclusão em
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Nome Transportadora
        </th>
      </tr>
    </thead>

    <tbody>
      <!--tr-->
      <tr data-content-class="tr-content-id-1" data-showing-content="false">
        <!--list all coluns-->
        <td class="td-first td-first--text-td-first td-first--text-normal">
          <i class="td-first--btn icon-plus-full show-info index-0 td-first--btn-green"></i>
          icon
        </td>

        <td>
          Balsas - SP 30
        </td>

        <td>
          Anna Scherer Milla CPF 123.456.789-00
        </td>

        <td>
          2170/1
        </td>

        <td>
          500
        </td>

        <td>
          100 Kg
        </td>

        <td>
          R$ 0.000,00
        </td>

        <td>
          02/01/18
        </td>

        <td>
          02/01/18
        </td>

        <td>
          02/01/18
        </td>

        <td>Golden Cargo</td>
      </tr>
      <!-- tr info -->
      <tr class="tr-content tr-content-id-1">
        <td colspan="11">
          <div class="tr-content-wrapper">
            <div>
              <h3 class="tr-content-title">Item 5250025</h3>
              <p class="tr-content-text">Lote</p>
              <p class="tr-content-text">Validade</p>
              <p class="tr-content-text">Descrição</p>
              <p class="tr-content-text">Faltam</p>
              <p class="tr-content-text">Peso</p>
            </div>
          </div>
        </td>
      </tr>
      <!-- tr info -->

      <!--tr-->
      <tr class="tr-separator">
      </tr>
      <!--tr-->
    </tbody>

  </table>
  <!--table - info list-->

</div>
<!-- TABLE -->

<app-master-modal-filtros></app-master-modal-filtros>
