<!-- Header -->
<header class="header">
  <div class="container">
    <div class="header__logo">
      <img class="header__logo__img" src="../../../../assets/img/header/netag_logo_header.png" alt="netAg">
    </div>
    <nav class="header__nav">
      <!--LIST-->
      <ul class="header__nav__list">
        <!--MENU ITEM-->
        <li class="header__nav__list__item header__nav__list__item--cadastros">
          <a href="">
            <i class="header__nav__list__item__icon icon-cadastro"></i>
            <span class="header__nav__list__item__text">Cadastros</span>
          </a>
        </li>
        <!--MENU ITEM-->
        <!--MENU ITEM-->
        <li class="header__nav__list__item header__nav__list__item--consultas">
          <a href="">
            <i class="header__nav__list__item__icon icon-search"></i>
            <span class="header__nav__list__item__text">Consultas</span>
          </a>
        </li>
        <!--MENU ITEM-->
        <!--MENU ITEM-->
        <li class="header__nav__list__item header__nav__list__item--meu-netag">
          <a href="">
            <i class="header__nav__list__item__icon icon"></i>
            <span class="header__nav__list__item__text">Meu Netag</span>
          </a>
        </li>
        <!--MENU ITEM-->
        <!--MENU ITEM-->
        <li class="header__nav__list__item header__nav__list__item--relatorios">
          <a href="">
            <i class="header__nav__list__item__icon icon-report"></i>
            <span class="header__nav__list__item__text">Relatórios</span>
          </a>
        </li>
        <!--MENU ITEM-->
        <!--MENU ITEM-->
        <li class="header__nav__list__item header__nav__list__item--solicitacoes">
          <a href="">
            <i class="header__nav__list__item__icon icon-entrega"></i>
            <span class="header__nav__list__item__text">Solicitações</span>
          </a>
        </li>
        <!--MENU ITEM-->
      </ul>
      <!--LIST-->
    </nav>

    <div class="header__user-menu">
      <i class="icon-user"></i>
      Everton
    </div>
  </div>
</header>
<!-- Header -->
