<!-- Header -->
<header class="header">
  <div class="container">
    <div class="header__logo">
      <img src="" alt="">
    </div>
    <nav class="header__nav">
      <!--LIST-->
      <ul class="header__nav__list">
        <!--MENU ITEM-->
        <li class="header__nav__list__item">
          <a href="">
            <i class="icon">icone</i>
            Cadastros
          </a>
        </li>
        <!--MENU ITEM-->
        <!--MENU ITEM-->
        <li class="header__nav__list__item">
          <a href="">
            <i class="icon">icone</i>
            Consultas
          </a>
        </li>
        <!--MENU ITEM-->
        <!--MENU ITEM-->
        <li class="header__nav__list__item">
          <a href="">
            <i class="icon">icone</i>
            Meu Netag
          </a>
        </li>
        <!--MENU ITEM-->
        <!--MENU ITEM-->
        <li class="header__nav__list__item">
          <a href="">
            <i class="icon">icone</i>
            Relatórios
          </a>
        </li>
        <!--MENU ITEM-->
        <!--MENU ITEM-->
        <li class="header__nav__list__item">
          <a href="">
            <i class="icon">icone</i>
            Solicitações
          </a>
        </li>
        <!--MENU ITEM-->
      </ul>
      <!--LIST-->
    </nav>

    <div class="header__user-menu">
      <i class="icon">icone</i>
      Everton
    </div>
  </div>
</header>
<!-- Header -->
