@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u935ym');
  src:  url('fonts/icomoon.eot?u935ym#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u935ym') format('truetype'),
    url('fonts/icomoon.woff?u935ym') format('woff'),
    url('fonts/icomoon.svg?u935ym#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empresas:before {
  content: "\e91e";
  color: #676668;
}
.icon-filiais:before {
  content: "\e91f";
  color: #676668;
}
.icon-grupos:before {
  content: "\e920";
  color: #676668;
}
.icon-meu-netag .path1:before {
  content: "\e918";
  color: rgb(255, 255, 255);
  opacity: 0.2;
}
.icon-meu-netag .path2:before {
  content: "\e919";
  margin-left: -1.0048828125em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-meu-netag .path3:before {
  content: "\e91a";
  margin-left: -1.0048828125em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-meu-netag .path4:before {
  content: "\e91b";
  margin-left: -1.0048828125em;
  color: rgb(255, 255, 255);
  opacity: 0.2;
}
.icon-meu-netag .path5:before {
  content: "\e91c";
  margin-left: -1.0048828125em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-meu-netag .path6:before {
  content: "\e91d";
  margin-left: -1.0048828125em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-cadastro:before {
  content: "\e903";
}
.icon-close-lg:before {
  content: "\e904";
}
.icon-close-sm:before {
  content: "\e905";
}
.icon-delete:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e907";
}
.icon-entrega:before {
  content: "\e908";
}
.icon-estoque:before {
  content: "\e909";
}
.icon-excel-file:before {
  content: "\e90a";
}
.icon-filtro:before {
  content: "\e90b";
}
.icon-ordenation:before {
  content: "\e90c";
}
.icon-pdf:before {
  content: "\e90d";
}
.icon-plus-full:before {
  content: "\e90e";
}
.icon-recebimento:before {
  content: "\e90f";
}
.icon-report:before {
  content: "\e910";
}
.icon-request:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-search-simple:before {
  content: "\e913";
}
.icon-star-full:before {
  content: "\e914";
}
.icon-start:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}
.icon-view:before {
  content: "\e917";
}
