.destaques {
  @extend .flex;
  padding: 25px 30px;
}

.destaques__item {
  @extend .box;
  flex: 1;
  margin-right: 7px;
  margin-left: 7px;
  background-color: $color-gray-second;
  padding: 35px 30px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  // Variacoes
  &--bemvindo {
    background-color: #fff;
    flex: 0.9;
  }

  &--large {
    flex: 1;
  }

  // Filhos

  &__title {
    @extend .h2;
    color: $color-primary;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__subtitle {
    @extend .h3;
    color: $color-second;
    margin-bottom: 30px;
    font-weight: bold;
  }

  &__text {
    color: $color-second;
    margin-bottom: 30px;
    line-height: 26px;
  }

  &__link-action {
    color: $color-primary;
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
  }
}

/**
 * Destaques Mini
 */

.destaques-mini {
  @extend .flex;
  padding: 15px 30px;
  flex-flow: row wrap;
  justify-content: space-between;
}

$destaques-mini__item_numbers: 7;

$destaques-mini__item_margin-width: 14px;
$destaques-mini__item_margin-number: $destaques-mini__item_numbers - 1;
$destaques-mini__item_margin-width-total: $destaques-mini__item_margin-number * $destaques-mini__item_margin-number;
$destaques-mini__width: 100% - $destaques-mini__item_margin-width-total;
$destaques-mini__width_item: $destaques-mini__width / $destaques-mini__item_margin-number;

.destaques-mini__item {
  @extend .box;
  width: calc((100% / #{$destaques-mini__item_numbers}) - #{$destaques-mini__item_margin-width});
  margin: 10px 0;
  background-color: $color-gray-second;
  padding: 15px;
  min-height: 270px;
  display: flex;
  flex-flow: column wrap;


  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

/* States */
.destaques-mini--feedback {

  &--top {
    border-bottom: 1px solid $color-gray-seventh;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    &--super {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 14px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &--info {
      font-family: Roboto, sans-serif;
      font-size: 59px;
      text-align: center;
      color: $color-primary;
      padding-top: 15px;
      white-space: unset;
      position: relative;
      min-width: 40%;
      font-weight: bold;

      &--md {
        font-size: 50px;
      }

      &--small {
        font-size: 38px;
        font-weight: bold;

        &--md {
          font-size: 20px;
        }
      }
    }
    &--sub {}
  }
  &--bottom {
    &--title {
      color: $color-primary;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
    }
    &--text {
      color: $color-gray-eighth;
      font-size: 12px;
      line-height: 20px;
    }
    &--link {
      color: $color-primary;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      margin-top: 10px;
      display: block;
    }
  }
}






