<section class="search">
  <!--action/info/etc-->
  <div class="search__action">
    <h2 class="search__action__title">Grupos Cadastrados</h2>

    <a class="search__action__link" href="">criar novo grupo</a>
  </div>
  <!--action/info/etc-->

  <!-- search form -->
  <form action="" class="search__form">

    <!--search by free text-->
    <div class="search__form__by-text">
      <h4 class="search__form__by-text__title">Encontre um grupo</h4>
      <p class="search__form__by-text__text">
        Use os filtros ou use a lupa para procurar em toda a tabela
      </p>

      <div class="form__grouped">
        <span class="icon-search form__grouped__icon"></span>
        <input type="text" class="form__grouped__input-control">
      </div>
    </div>
    <!--search by free text-->

    <!--search by inputs-->
    <div class="search__form__by-inputs">
      <div class="search__form__by-inputs__manage-filters">
        <p>
          <span class="icon-filtro"></span>
          <span class="text">Gerenciar Filtros</span>
        </p>
      </div>

      <div class="search__form__by-inputs__content">
        <!--input1-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="nome do grupo">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input1-->

        <!--input2-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="empresa principal">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input2-->

        <!--input3-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="cnpj da empresa principal">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input3-->

        <!--input4-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="empresa participante">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input4-->

        <!--input5-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="cnpj empresa participante">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input5-->
      </div>
    </div>
    <!--search by inputs-->

  </form>
  <!-- search form -->
</section>
