<section class="search">
  <!--action/info/etc-->
  <div class="search__action">
    <h2 class="search__action__title">{{data.search.searchAction.title}}</h2>

    <a class="search__action__link" href="" *ngIf="data.search.searchAction.isLink">
      <span class="icon-plus-full search__action__link__icon"></span>
      <span class="search__action__link__text">{{data.search.searchAction.linkText}}</span>
    </a>

    <p class="search__action__text" *ngIf="!data.search.searchAction.isLink">
      {{data.search.searchAction.linkText}}
    </p>
  </div>
  <!--action/info/etc-->

  <!-- search form -->
  <form action="" class="search__form">

    <!--search by free text-->
    <div class="search__form__by-text">
      <h4 class="search__form__by-text__title">{{data.search.searchForm.title}}</h4>
      <p class="search__form__by-text__text">
        Use os filtros ou use a lupa para procurar em toda a tabela
      </p>

      <div class="form__grouped">
        <span class="icon-search-simple form__grouped__icon"></span>
        <input type="text" class="form__grouped__input-control">
      </div>
    </div>
    <!--search by free text-->

    <!--search by inputs-->
    <div class="search__form__by-inputs">
      <div class="search__form__by-inputs__manage-filters">
        <p>
          <span class="icon-filtro"></span>
          <span class="text">Gerenciar Filtros</span>
        </p>
      </div>

      <div class="search__form__by-inputs__content">
        <!--input-->
        <div class="form__group" *ngFor="let inputForm of data.search.searchForm.inputs">
          <input class="form__group__input" type="{{inputForm.type}}" placeholder="{{inputForm.placeholder}}">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
      </div>
    </div>
    <!--search by inputs-->

  </form>
  <!-- search form -->
</section>
