<section class="search">
  <!--action/info/etc-->
  <div class="search__action">
    <h2 class="search__action__title">Grupos Cadastradas</h2>

    <a class="search__action__link">
      <span class="icon-plus-full search__action__link__icon"></span>
      <span class="search__action__link__text" [routerLink]="['/master/grupos/cadastrar']">adicionar novo grupo</span>
    </a>
  </div>
  <!--action/info/etc-->

  <!-- search form -->
  <form action="" class="search__form">

    <!--search by free text-->
    <div class="search__form__by-text">
      <h4 class="search__form__by-text__title">Encontre um grupo</h4>
      <p class="search__form__by-text__text">
        Use os filtros ou use a lupa para procurar em toda a tabela
      </p>

      <div class="form__grouped">
        <span class="icon-search-simple form__grouped__icon"></span>
        <input type="text" class="form__grouped__input-control">
      </div>
    </div>
    <!--search by free text-->

    <!--search by inputs-->
    <div class="search__form__by-inputs">
      <div class="search__form__by-inputs__manage-filters">
        <p>
          <span class="icon-filtro"></span>
          <span class="text">Gerenciar Filtros</span>
        </p>
      </div>

      <div class="search__form__by-inputs__content">
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="nome do grupo">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="empresa principal">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="cpnj da empresa principal">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="empresa participante">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="empresa participante">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
      </div>
    </div>
    <!--search by inputs-->

  </form>
  <!-- search form -->
</section>


<!-- TABLE -->
<div class="table-container">
  <div class="table-container__top-actions">

    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--left">
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-pdf"></span>
        </span>
      </li>
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-excel-file"></span>
        </span>
      </li>
    </ul>
    <!--table action-->
    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--center">
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-arrow-left"></span>
        </span>
      </li>
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-arrow-right"></span>
        </span>
      </li>
    </ul>
    <!--table action-->
    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--right">
      <li class="list-action">
        <span class="list-action__btn list-action__btn--free-width">
          <span class="list-action__btn__icon icon-view"></span>
          resultados por página
          <span>10</span>
        </span>
      </li>
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-config"></span>
        </span>
      </li>
    </ul>
    <!--table action-->
  </div>

  <!--table - info list-->
  <table class="table">

    <thead>
      <tr>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Nome do grupo
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          N° integrantes
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Empresa Principal
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          CNPJ da empresa principal
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Ação
        </th>
      </tr>
    </thead>

    <tbody>
      <!--tr-->
      <tr data-content-class="tr-content-id-1" data-showing-content="false">
        <!--list all coluns-->
        <td class="td-first td-first--text-td-first td-first--text-normal">
          <i class="icon-plus-full show-info index-0 td-first--btn td-first--btn-green"></i>
          Anna Scherer Milla
        </td>

        <td>4</td>

        <td>
          Anna Scherer Milla
        </td>

        <td>
          443.356.789-00
        </td>

        <!--show actions-->
        <td class="td-first td-first--text-td-first td-first--text-normal">
          <a [routerLink]="['/master/grupos/editar']" class="icon-edit action-edit table__td_action" title="Editar"></a>
          <i class="icon-delete action-delete table__td_action" title="Remover"></i>
        </td>
        <!--show actions-->
      </tr>

      <!-- tr info -->
      <tr class="tr-content tr-content-id-1">
        <td colspan="5">
          <div class="tr-content-wrapper">
            <h3 class="tr-content-title">Empresas Integrantes do Grupo</h3>
            <p class="tr-content-text">Anna Scherer Milla (AG)</p>
            <p class="tr-content-text">Ernest Milla (AG)</p>
            <p class="tr-content-text">Egon Heinrich Milla (AG)</p>
            <p class="tr-content-text">Robert Milla (AG)</p>
          </div>
        </td>
      </tr>
      <!-- tr info -->

      <!--tr-->
      <tr class="tr-separator">
      </tr>
      <!--tr-->
      <!--tr-->
      <tr data-content-class="tr-content-id-2" data-showing-content="false">
        <!--list all coluns-->
        <td class="td-first td-first--text-td-first td-first--text-normal">
          <i class="icon-plus-full show-info index-0 td-first--btn td-first--btn-green"></i>
          Anna Scherer Milla
        </td>

        <td>4</td>

        <td>
          Anna Scherer Milla
        </td>

        <td>
          443.356.789-00
        </td>

        <!--show actions-->
        <td class="td-first td-first--text-td-first td-first--text-normal">
          <a [routerLink]="['/master/grupos/editar']" class="icon-edit action-edit table__td_action" title="Editar"></a>
          <i class="icon-delete action-delete table__td_action" title="Remover"></i>
        </td>
        <!--show actions-->
      </tr>

      <!-- tr info -->
      <tr class="tr-content tr-content-id-2">
        <td colspan="5">
          <div class="tr-content-wrapper">
            <h3 class="tr-content-title">Empresas Integrantes do Grupo</h3>
            <p class="tr-content-text">Anna Scherer Milla (AG)</p>
            <p class="tr-content-text">Ernest Milla (AG)</p>
            <p class="tr-content-text">Egon Heinrich Milla (AG)</p>
            <p class="tr-content-text">Robert Milla (AG)</p>
          </div>
        </td>
      </tr>
      <!-- tr info -->

      <!--tr-->
      <tr class="tr-separator">
      </tr>
      <!--tr-->
    </tbody>

  </table>
  <!--table - info list-->

</div>
<!-- TABLE -->

<!-- modal excluir -->
<div class="modal modal-delete">
  <div class="modal--overlay"></div>

  <div class="modal--container">

    <div class="modal--close-container">
      <i class="icon-close icon-close-lg"></i>
    </div>


    <h2 class="modal--title">Você tem certeza que deseja excluir o grupo abaixo?</h2>

    <p class="modal--text">
      <span class="modal--text--ornament">Nome do grupo:</span> Anna Scherer Mila
    </p>

    <p class="modal--text">
      <span class="modal--text--ornament">Empresa principal:</span> Anna Scherer Mila
    </p>

    <p class="modal--text">
      <span class="modal--text--ornament">Empresas integrantes do grupo:</span>
      <br> Anna Scherer Mila(AG), Ernest Mila(AG), Egon Heinrich Mila(AG), Robert Mila(AG)
    </p>

    <div class="modal--action">
      <button class="modal--btn-icon-text">
        <i class="modal--btn--icon icon-delete"></i>
        <span class="modal--btn--text">Sim, confirmar exclusão</span>
      </button>
    </div>
  </div>
</div>
<!-- modal excluir -->