<section>

  <div class="destaques">
    <!--Destaque Item - Bem Vindo-->
    <div class="destaques__item destaques__item--bemvindo">
      <h2 class="destaques__item__title">Olá Ewerthon!</h2>
      <h3 class="destaques__item__subtitle">Seja bem vindo ao seu portal netAG</h3>

      <p class="destaques__item__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>

      <a class="destaques__item__link-action" href="#">Gerenciar Destaques</a>
    </div>
    <!--Destaque Item - Bem Vindo-->

    <!--Destaque Item - Large-->
    <div class="destaques__item destaques__item--fixed destaques__item--large">
      <p class="destaques__item__text">
        Destaque Fixo / Infográfico #1
      </p>
    </div>
    <!--Destaque Item - Large-->

    <!--Destaque Item - Default-->
    <div class="destaques__item destaques__item--fixed">
      <p class="destaques__item__text">
        Destaque Fixo / Infográfico #2
      </p>
    </div>
    <!--Destaque Item - Default-->
  </div>

  <div class="destaques-mini">
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item destaques-mini--feedback">
      <p class="destaques-mini--feedback--money destaques-mini--feedback--top clearfix">
        <span class="destaques-mini--feedback--top--info">
          12<span class="destaques-mini--feedback--top--info--small">%</span>
        </span>
      </p>
      <!--bottom-->
      <div class="destaques-mini--feedback--bottom">
        <p class="destaques-mini--feedback--bottom--title">
          Quantidade de<br>
          NFs Irregulares
        </p>
        <p class="destaques-mini--feedback--bottom--text">
          Notas NF Irregulares: 00un<br>
          Qnt. total de entrada: 00un
        </p>
      </div>
      <!--bottom-->
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item destaques-mini--feedback">
      <p class="destaques-mini--feedback--money destaques-mini--feedback--top clearfix">
        <span class="destaques-mini--feedback--top--info destaques-mini--feedback--info--md">
          <span class="destaques-mini--feedback--top--super">R$</span>
          1.400<span class="destaques-mini--feedback--top--info--small destaques-mini--feedback--top--info--small--md">,80</span>
        </span>
      </p>
      <!--bottom-->
      <div class="destaques-mini--feedback--bottom">
        <p class="destaques-mini--feedback--bottom--title">
          Valor Total<br>
          dos Produtos Irregulares
        </p>
      </div>
      <!--bottom-->
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item destaques-mini--feedback">
      <p class="destaques-mini--feedback--money destaques-mini--feedback--top clearfix">

        <span class="destaques-mini--feedback--top--info destaques-mini--feedback--info--md">
          <span class="destaques-mini--feedback--top--super">R$</span>
          2.220<span class="destaques-mini--feedback--top--info--small destaques-mini--feedback--top--info--small--md">,22</span>
        </span>
      </p>
      <!--bottom-->
      <div class="destaques-mini--feedback--bottom">
        <p class="destaques-mini--feedback--bottom--title">
          Valor Total de<br>
          Mercadoria Armazenada
        </p>
      </div>
      <!--bottom-->
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      <p class="destaques-mini--feedback--generic destaques-mini--feedback--top clearfix">
        <span class="destaques-mini--feedback--top--info">23<span class="destaques-mini--feedback--top--info--small">%</span>
        </span>
      </p>
      <p class="destaques-mini--feedback--bottom--title">
        Valor de Mercadoria<br>
        Armazenada<br>
        <span class="txt-c-gray-8">vs</span><br>
        Limite de Averbação<br>
        das DDR
      </p>
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      <p class="destaques-mini--feedback--generic destaques-mini--feedback--top clearfix">

        <span class="destaques-mini--feedback--top--info destaques-mini--feedback--info--md">
          <span class="destaques-mini--feedback--top--super">Qtd</span>
          200
        </span>
      </p>      <!--bottom-->
      <div class="destaques-mini--feedback--bottom">
        <p class="destaques-mini--feedback--bottom--title">
          Quantidade de<br>
          Posições Armazenadas
        </p>
      </div>
      <!--bottom-->
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      <p class="destaques-mini--feedback--generic destaques-mini--feedback--top clearfix">
        <span class="destaques-mini--feedback--top--info destaques-mini--feedback--info--md">
          <span class="destaques-mini--feedback--top--super">Qtd</span>
          50<span class="destaques-mini--feedback--top--info--small destaques-mini--feedback--top--info--small--md txt-c-gray-8">/200</span>
        </span>
      </p>      <!--bottom-->
      <div class="destaques-mini--feedback--bottom">
        <p class="destaques-mini--feedback--bottom--title">
          Quantidade de<br>
          NFs Irregulares
        </p>
        <p class="destaques-mini--feedback--bottom--text">
          Notas NF Irregulares: 00un<br>
          Qnt. total de entrada: 00un
        </p>
      </div>
      <!--bottom-->
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      <div class="destaques-mini--feedback--generic destaques-mini--feedback--top clearfix">

        <span class="destaques-mini--feedback--top--info destaques-mini--feedback--info--md">
          <span class="destaques-mini--feedback--top--super">Qtd. Clientes</span>
          5<span class="destaques-mini--feedback--top--info--small destaques-mini--feedback--top--info--small--md txt-c-gray-8">/90</span>
        </span>
      </div>
      <!--bottom-->
      <div class="destaques-mini--feedback--bottom">
        <p class="destaques-mini--feedback--bottom--title">
          Quantidade de<br>
          Posições Armazenadas
        </p>
        <p class="destaques-mini--feedback--bottom--text">
          Notas NF Irregulares: 00un<br>
          Qnt. total de entrada: 00un
        </p>
      </div>
      <!--bottom-->
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      <p class="destaques-mini--feedback--money destaques-mini--feedback--top clearfix">

        <span class="destaques-mini--feedback--top--info destaques-mini--feedback--info--md">
          <span class="destaques-mini--feedback--top--super">Un</span>
          140
        </span>
      </p>
      <!--bottom-->
      <div class="destaques-mini--feedback--bottom">
        <p class="destaques-mini--feedback--bottom--title">
          Validade de Produtos
        </p>
        <p class="destaques-mini--feedback--bottom--text">
          <span class="txt-c-primary">Clique aqui</span> e selecione<br>
          o período (6 meses) que<br>
          deseja analisar
        </p>
      </div>
      <!--bottom-->
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      <p class="destaques-mini--feedback--money destaques-mini--feedback--top clearfix">
        <span class="destaques-mini--feedback--top--info destaques-mini--feedback--info--md">
          <span class="destaques-mini--feedback--top--super">Kg</span>
          140</span>
      </p>
      <!--bottom-->
      <div class="destaques-mini--feedback--bottom">
        <p class="destaques-mini--feedback--bottom--title">
          Volume Expedido Total
        </p>
        <p class="destaques-mini--feedback--bottom--text">
          Quantidade Expedido: 100un
        </p>
        <a class="destaques-mini--feedback--bottom--link">
          Mudar unidade de medida
        </a>
      </div>
      <!--bottom-->
    </div>
    <!--Destaque Item - Default-->
    <!--Destaque Item - Default-->
    <div class="destaques-mini__item">
      <p class="destaques-mini--feedback--money destaques-mini--feedback--top clearfix">
        <span class="destaques-mini--feedback--top--info">
          55<span class="destaques-mini--feedback--top--info--small">%</span>
        </span>
      </p>
      <div class="destaques-mini--feedback--bottom">
        <p class="destaques-mini--feedback--bottom--title">
          Ocupação<br>
          <span class="txt-c-gray-8">vs</span><br>
          Reservas de Paletes<br>
          em Contrato
        </p>
      </div>
    </div>
    <!--Destaque Item - Default-->
  </div>

</section>
