<form class="form">
  <!-- block title form -->
  <header class="form-header">
    <h2 class="form-title">
      <i class="icon-edit"></i>
      Cadastrar Grupo
    </h2>
    <p class="form-description">
      Preencha as informações ao lado e clique em "adicionar"
    </p>
  </header>
  <!-- block title form -->

  <!-- form content -->
  <div class="form-content">
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <p class="form-section-title">
          <span class="text">Dados do Grupo</span>
        </p>
        <input type="text" class="form-control" placeholder="nome do grupo">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="label-fake"></label>
        <input type="text" class="form-control" placeholder="escolher empresa principal">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <input type="text" class="form-control" placeholder="CPF / CNPJ">
      </div>
      <!-- form-group -->
      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simple2" name="" />

            <label for="checkbox-simple2">
            </label>
          </div>
          AG
        </label>
        <label class="input-label" for="">
          <div class="checkbox-simple">
            <input class="checkbox" type="checkbox" value="1" id="checkbox-simple3" name="" />

            <label for="checkbox-simple3">
            </label>
          </div>
          CD
        </label>
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--half">
        <p class="form-section-title">
          <span class="text">Empresas participantes</span>
        </p>
        <input type="text" class="form-control" placeholder="selecionar empresa (ou)">
      </div>
      <!-- form-group -->

      <!-- form-group -->
      <div class="form-group form-group--half">
        <label class="label-fake"></label>
        <input type="text" class="form-control" placeholder="empresa participante #1 ( cpf/cnpj #1 )">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
    <!-- form row -->
    <div class="form-row">
      <!-- form-group -->
      <div class="form-group form-group--single">
        <input type="text" class="form-control" placeholder="buscar empresa">
      </div>
      <!-- form-group -->
    </div>
    <!-- form row -->
  </div>
  <!-- form content -->

  <!-- form actions -->
  <div class="form-actions">
    <h2 class="form-title">
      Finalização
    </h2>
    <button class="form-btn form-btn-finish form-btn-large">
      <span class="icon-form-finish">
        <span class="icon-form-finish-single first"></span>
        <span class="icon-form-finish-single second"></span>
      </span>
      <span class="text">confirmar & finalizar</span>
    </button>
  </div>
  <!-- form actions -->
</form>
