* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  //padding-bottom: 60px;
  position: relative;
}

// Text Align
.text-align {

  &--center {
    text-align: center;
  }
}

// Clearfix

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table;
}
.clearfix::after {
clear: both;
}

// color

html body .txt-c-gray-8 {
color: $color-gray-eighth;
}
html body .txt-c-primary {
color: $color-primary;
}

