.form {
  @extend .flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 25px 40px;
}

.form-header {
  @extend .box;
  @extend .flex;
  flex-flow: column;
  width: 323px;
  min-height: 242px;
  padding: 22px 40px 24px 20px;
}

.form-title {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: $color-primary;
  margin-bottom: 20px;
  i.icon-edit {
    &::before {
      font-size: 22px;
      vertical-align: text-bottom;
    }
  }
}

.form-description {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: $color-gray-eighth;
}

.form-is-simplified {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: $color-gray-fifth;
}

// Form content
.form-content {
  @extend .box;
  padding: 45px 66px 69px;
  width: 1119px;
  &>.form-row {
    @extend .flex;
    width: 100%;
  }
}

.form-row+.form-row {
  margin-top: 30px;
}

.form-group {
  width: 100%;
  &--half {
    width: calc(50% - 15px);
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-left: 15px;
    }
  }
}

.form-group>.form-label {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: $color-primary;
  margin-bottom: 15px;
  width: 100%;
  display: block;
  font-weight: bold;
}

.form-group>label.input-label,
.form-control {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: $color-gray-fifth;
  padding-right: 5px;
}

.form-control {
  height: 48px;
  line-height: 46px;
  border: 1px solid $color-gray-sixth;
  width: 100%;
  padding: 0 10px;
}

.label-fake {
  height: 24px;
  margin-bottom: 15px;
  content: " ";
  width: 100%;
  display: block;
}

.form-is-simplified {
  align-self: flex-end;
}

/**
 * Checkbox styled 1
 */

.checkbox-simple {
  width: 23px;
  height: 23px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  border: 2px solid $color-primary;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 3px;
}

.checkbox-simple .checkbox {
  display: none;
}

.checkbox-simple label {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 100px;
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
}

.checkbox-simple input[type=checkbox]:checked+label {
  background: $color-primary;
}

/**
 * Create the slider bar
 */

.checkbox-slider {
  width: 35px;
  height: 15px;
  background: rgba(100, 100, 100, 0.2);
  position: relative;
  border-radius: 10px;
  display: inline-block;
}

.checkbox-slider .checkbox {
  display: none;
}

.checkbox-slider label {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: $color-gray-fifth;
}

.checkbox-slider input[type=checkbox]:checked+label {
  left: 27px;
  background: $color-primary;
}
