.form {
  @extend .flex;
  justify-content: center;
  align-items: flex-start;
  padding: 25px 40px;
  margin-bottom: 50px;
}

.form-header {
  @extend .box;
  @extend .flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 323px;
  min-height: 242px;
  padding: 22px 40px 24px 20px;
}

.form-title {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: $color-primary;
  margin-bottom: 20px;
  i.icon-edit {
    &::before {
      font-size: 22px;
      vertical-align: text-bottom;
    }
  }
}

.form-description {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: $color-gray-eighth;
  align-self: flex-end;
}

.form-is-simplified {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: $color-gray-fifth;
}

// Form content
.form-content {
  @extend .box;
  padding: 45px 66px 69px;
  width: 1119px;
  &>.form-row {
    @extend .flex;
    width: 100%;
  }
  margin: 0 20px;
}

.form-row+.form-row {
  margin-top: 30px;
}

.form-group {
  width: 100%;
  &--half {
    width: calc(50% - 15px);
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-left: 15px;
    }
  }
}

.form-group>.form-section-title {
  line-height: 24px;
  margin-bottom: 15px;
  width: 100%;
}

.form-group>.form-section-title>.text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: $color-primary;
  font-weight: bold;
}

div.form-group label.input-label,
.form-control {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: $color-gray-fifth;
  padding-right: 5px;
  font-weight: normal;
}

.form-control {
  height: 48px;
  line-height: 46px;
  border: 1px solid $color-gray-sixth;
  width: 100%;
  padding: 0 19px;
}

.label-fake {
  height: 24px;
  margin-bottom: 15px;
  content: " ";
  width: 100%;
  display: block;
}

.form-is-simplified {
  margin-top: 40px;
}

/**
 * Checkbox styled 1
 */

.checkbox-simple {
  width: 23px;
  height: 23px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  border: 2px solid $color-primary;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 3px;
}

.checkbox-simple .checkbox {
  display: none;
}

.checkbox-simple label {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 100px;
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
}

.checkbox-simple input[type=checkbox]:checked+label {
  background: $color-primary;
}

/**
 * Create the slider bar
 */

.checkbox-slider {
  width: 35px;
  height: 15px;
  background: rgba(100, 100, 100, 0.2);
  position: relative;
  border-radius: 10px;
  display: inline-block;
}

.checkbox-slider .checkbox {
  display: none;
}

.checkbox-slider label {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: $color-gray-fifth;
}

.checkbox-slider input[type=checkbox]:checked+label {
  left: 27px;
  background: $color-primary;
}

// FORM BTN
.form-actions {
  @extend .box;
  @extend .flex;
  width: 323px;
  flex-flow: column;
  align-self: flex-end;
  padding: 22px 40px 24px 20px;
}

.form-btn {
  @extend .flex;
  justify-content: flex-start;
  align-items: center;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  &>.text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: $color-gray-fifth;
    text-align: left;
  }
  &+.form-btn {
    margin-top: 20px;
  }
}

.icon-form-finish {
  &>.icon-form-finish-single {
    margin-right: 13px;
    position: relative;
    &::before {
      font-size: 32px;
    }
    &.first {
      &::before {
        color: rgba(161, 164, 166, .4);
      }
    }
    &.second {
      margin-left: -44px;
      &::before {
        color: rgba(161, 164, 166, .9);
      }
    }
  }
}

.form-btn-finish.form-btn-large {
  flex-flow: column;
  text-align: center;
  margin-bottom: 15px;
  &>.icon-form-finish {
    margin-top: 15px;
    margin-bottom: 15px;
    &>.icon-form-finish-single {
      margin-right: 13px;
      position: relative;
      &::before {
        font-size: 40px;
      }
      &.first {
        &::before {
          color: rgba(161, 164, 166, .4);
        }
      }
      &.second {
        margin-left: -55px;
        &::before {
          color: rgba(161, 164, 166, .9);
        }
      }
    }
  }
}

.icon-form-finish-repeat {
  margin-right: 18px;
  margin-left: 5px;
  &::before {
    font-size: 46px;
  }
}
