$header-height: 95px;
$header-height-border-height: 1px;
$header-height-without-border: $header-height - $header-height-border-height;

.header {
  height: $header-height;
  border-bottom: $header-height-border-height solid $color-primary;
  margin-bottom: 50px;
  position: relative;

  &--submenu-opened {
    margin-bottom: $header-height;
  }

  &--submenu-active {
    margin-bottom: $header-height;
  }

  .container {
    @extend .flex;
    height: $header-height;
  }

}

// Header Logo
.header__logo {
  @extend .flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  &__img {
    width: 125px;
    height: 41px;
  }
}
// Header Logo

.header-submenu-enfeite {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  height: $header-height;
  background-color: $color-gray-third;
  display: none;
}

.header--submenu-opened .header-submenu-enfeite, .header--submenu-active .header-submenu-enfeite {
  display: block;
}

.header__nav {
  height: $header-height-without-border;
  flex: 2;

  &--center {
    flex: auto;
    width: 150px;
  }
}

.header__nav__list {
  @extend .flex;
  height: $header-height-without-border;
  position: relative;

  &__item {
    height: $header-height-without-border;
    background-color: $color-gray-third;
    flex: 1;
    border-right: 1px solid $color-gray-primary;

    &.active *{
      color: $color-primary;
    }

    &.active i:before {
      color: $color-primary;
    }

    &:last-child {
      border-right: 0;
    }

    & > a {
      height: $header-height-without-border;
      line-height: $header-height-without-border;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      display: block;
      text-align: center;
      color: $color-gray-fourth;
    }

    & > a i:before {
      font-size: 30px;
      height: 30px;
      vertical-align: middle;
      margin-right: 7px;
    }

    &--meu-netag {
      background-color: $color-third;
      height: $header-height-without-border;
      flex: 1;

      & a {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

.header__nav__list--submenu-opened .header__nav__sublist, .header__nav__list--submenu-active .header__nav__sublist {
  @extend .flex;
}

.header__nav__sublist {
  display: none;
  height: $header-height-without-border;
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  z-index: 2;
  transition: display 3s;


  &__item {
    height: $header-height-without-border;
    background-color: $color-gray-third;
    flex: 1;
    border-right: 1px solid $color-gray-primary;

    &.active *{
      color: $color-primary;
    }

    &.active i:before {
      color: $color-primary;
    }

    &:hover *{
      color: $color-primary;
    }

    &:hover i:before {
      color: $color-primary;
    }

    &:first-child {
      border-left: 1px solid $color-gray-primary;
    }

    & > a {
      height: $header-height-without-border;
      line-height: $header-height-without-border;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      display: block;
      text-align: center;
      color: $color-gray-fourth;

      & span {
        transition: all .3s;
      }
    }

    & > a i:before {
      font-size: 30px;
      height: 30px;
      vertical-align: middle;
      margin-right: 7px;
      transition: all .3s;
    }

    &--meu-netag {
      background-color: $color-third;
      height: $header-height-without-border;
      flex: 1;

      & a {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

// LOGO CENTRAL
.header__logo-central {
  background-color: $color-third;
  padding: 0 45px;

  &__link {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    height: $header-height-without-border;
    line-height: $header-height-without-border;
    font-family: Roboto, sans-serif;
    display: block;
    text-align: center;
    letter-spacing: 1px;
  }

  &__icon {
    position: absolute;
    bottom: -51px;
    width: 76px;
    height: 76px;
    margin-left: -38px;
    left: 50%;
  }

  &__text {

  }
}

.header__user-menu {
  @extend .flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;



  &__icon {
    font-size: 28px;
    margin-right: 5px;

    &:before {
      color: $color-gray-seventh;
    }
  }

  &__text {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    color: $color-primary;
    font-weight: 500;
  }

}
