/* Colors */
$color-primary: #b22d30 !default;
$color-second: #727276 !default;
$color-third: #B22D30 !default;

// Gray
$color-gray-primary: #dedddd !default;
$color-gray-second: #f4f4f4 !default;
$color-gray-third: #F8F8F8 !default;
$color-gray-fourth: #666666 !default;
