/* Colors */
$color-primary: #b22d30 !default;
$color-second: #727276 !default;
$color-third: #B22D30 !default;
$color-fourth: #00E23D !default;
$color-fifth: #0094E0 !default;
$color-sixth: #E8AB58 !default;
$color-eighth: #B22D30 !default;

// Gray
$color-gray-primary: #dedddd !default;
$color-gray-second: #f4f4f4 !default;
$color-gray-third: #F8F8F8 !default;
$color-gray-fourth: #666666 !default;
$color-gray-fifth: #95989A !default;
$color-gray-sixth: #D5D4D4 !default;
$color-gray-seventh: #707070 !default;
$color-gray-eighth: #727376 !default;


