<section class="search">
  <!--action/info/etc-->
  <div class="search__action">
    <h2 class="search__action__title">Consulta de Estoque</h2>

    <a class="search__action__link">
      <span class="icon-plus-full search__action__link__icon"></span>
      <span class="search__action__link__text" [routerLink]="['/master/estoque/cadastrar']">adicionar nova empresa</span>
    </a>
  </div>
  <!--action/info/etc-->

  <!-- search form -->
  <form action="" class="search__form">

    <!--search by free text-->
    <div class="search__form__by-text">
      <h4 class="search__form__by-text__title">Buscando algo specífico?</h4>
      <p class="search__form__by-text__text">
        Use os filtros ou use a lupa para procurar em toda a tabela
      </p>

      <div class="form__grouped">
        <span class="icon-search-simple form__grouped__icon"></span>
        <input type="text" class="form__grouped__input-control">
      </div>
    </div>
    <!--search by free text-->

    <!--search by inputs-->
    <div class="search__form__by-inputs">
      <div class="search__form__by-inputs__manage-filters">
        <p>
          <span class="icon-filtro"></span>
          <span class="text">Gerenciar Filtros</span>
        </p>
      </div>

      <div class="search__form__by-inputs__content">
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="cnpj">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="entrada">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="código">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="produto">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
        <!--input-->
        <div class="form__group">
          <input class="form__group__input" type="text" placeholder="lote">
          <span class="icon-close-sm form__group__close"></span>
        </div>
        <!--input-->
      </div>
    </div>
    <!--search by inputs-->

  </form>
  <!-- search form -->
</section>


<!-- TABLE -->
<div class="table-container">
  <div class="table-container__top-actions">

    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--left">
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-pdf"></span>
        </span>
      </li>
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-excel-file"></span>
        </span>
      </li>
    </ul>
    <!--table action-->
    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--center">
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-arrow-left"></span>
        </span>
      </li>
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-arrow-right"></span>
        </span>
      </li>
    </ul>
    <!--table action-->
    <!--table action-->
    <ul class="table-container__top-actions__list table-container__top-actions__list--right">
      <li class="list-action">
        <span class="list-action__btn list-action__btn--free-width">
          <span class="list-action__btn__icon icon-view"></span>
          resultados por página
          <span>10</span>
        </span>
      </li>
      <li class="list-action">
        <span class="list-action__btn">
          <span class="list-action__btn__icon icon-config"></span>
        </span>
      </li>
    </ul>
    <!--table action-->
  </div>

  <!--table - info list-->
  <table class="table">

    <thead>
      <tr>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Status
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Filial & Código
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Nome & Pagador
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Nota Definitiva
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Valor Total NF
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Cód. Produto
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Descrição Produto
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Lote
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Data Validade
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Status Venc.
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Qnt. Bloq
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Qnt. Livre
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Qnt. Total
        </th>
        <th>
          <i class="icon-ordenation th-icon-ordenation"></i>
          Dias para Término AG
        </th>
      </tr>
    </thead>

    <tbody>
      <!--tr-->
      <tr data-content-class="tr-content-id-2" data-showing-content="false">
        <!--list all coluns-->
        <td class="td-first td-first--text-td-first td-first--text-normal">
          <i class="td-first--btn icon-plus-full show-info index-0 td-first--btn-green"></i>
          Regular
        </td>

        <td>
          Balsas - SP 30
        </td>

        <td>
          Info Pagador
        </td>

        <td>
          2170/1
        </td>

        <td>
          R$ 0.000,
        </td>

        <td>
          00000
        </td>

        <td>
          descrição do produto
        </td>

        <td>
          00000
        </td>

        <td>
          00/00/0000
        </td>

        <td>
          info
        </td>

        <td>
          info
        </td>

        <td>
          info
        </td>

        <td>
          info
        </td>

        <td>
          161 dias
        </td>
      </tr>

      <!-- tr info -->
      <tr class="tr-content tr-content-id-2">
        <td colspan="14">
          <div class="tr-content-wrapper">
            <h3 class="tr-content-title">Item 5250025</h3>

            <!-- Feedback do estatus do item -->
            <div>
              <ul class="estoque-status">
                <!--status de solicitacao-->
                <li class="estoque-status--item estoque-status--item--first">
                  <div class="estoque-status--item--icon">
                    <i class="icon-form-pacote"></i>
                  </div>
                  <p class="estoque-status--item--text">
                    <strong>solicitação</strong>
                    <span>10/10/2018</span>
                  </p>
                </li>
                <!--status de solicitacao-->
                <!--status de emissao-nf-->
                <li class="estoque-status--item">
                  <div class="estoque-status--item--icon">
                    <i class="icon-form-nota-fiscal"></i>
                  </div>
                  <p class="estoque-status--item--text">
                    <strong>emissão nf</strong>
                    <span>10/10/2018</span>
                  </p>
                </li>
                <!--status de emissao-nf-->
                <!--status de previsao-entrega-->
                <li class="estoque-status--item">
                  <div class="estoque-status--item--icon">
                    <i class="icon-form-previsao-entrega"></i>
                  </div>
                  <p class="estoque-status--item--text">
                    <strong>previsão de entrega</strong>
                    <span>10/10/2018</span>
                  </p>
                </li>
                <!--status de previsao-entrega-->
                <!--status de entrega-->
                <li class="estoque-status--item">
                  <div class="estoque-status--item--icon">
                    <i class="icon-form-previsao-entrega"></i>
                  </div>
                  <p class="estoque-status--item--text">
                    <strong>entrega</strong>
                    <span>10/10/2018</span>
                  </p>
                </li>
                <!--status de entrega-->
                <li class="estoque-status--item estoque-status--item--small estoque-status--item--last">
                  <div class="estoque-status--item--icon">
                    <i class="icon-form-modal-success"></i>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Feedback do estatus do item -->

            <!--historico-->
            <div class="tr-content--detalhamento">
              <h3 class="tr-content-title">Detalhes</h3>


              <ul class="tr-content--detalhamento--list">
                <!--item-->
                <li class="tr-content--detalhamento--list--item">
                  <h3 class="tr-content-title">item 6250024 - Game CX 4x5L</h3>
                  <p class="text">lote 035-17</p>
                  <p class="text">200 un.</p>
                  <p class="text">100 kg</p>
                  <p class="text">R$ 1800.000,00</p>
                </li>
                <!--item-->
                <!--item-->
                <li class="tr-content--detalhamento--list--item">
                  <h3 class="tr-content-title">item 6250024 - Game CX 4x5L</h3>
                  <p class="text">lote 035-17</p>
                  <p class="text">200 un.</p>
                  <p class="text">100 kg</p>
                  <p class="text">R$ 1800.000,00</p>
                </li>
                <!--item-->
                <!--item-->
                <li class="tr-content--detalhamento--list--item">
                  <h3 class="tr-content-title">item 6250024 - Game CX 4x5L</h3>
                  <p class="text">lote 035-17</p>
                  <p class="text">200 un.</p>
                  <p class="text">100 kg</p>
                  <p class="text">R$ 1800.000,00</p>
                </li>
                <!--item-->
                <!--item-->
                <li class="tr-content--detalhamento--list--item">
                  <h3 class="tr-content-title">item 6250024 - Game CX 4x5L</h3>
                  <p class="text">lote 035-17</p>
                  <p class="text">200 un.</p>
                  <p class="text">100 kg</p>
                  <p class="text">R$ 1800.000,00</p>
                </li>
                <!--item-->
              </ul>
            </div>
            <!--historico-->

          </div>
        </td>
      </tr>
      <!-- tr info -->

      <!--tr-->
      <tr class="tr-separator">
      </tr>
      <!--tr-->
    </tbody>

  </table>
  <!--table - info list-->

</div>
<!-- TABLE -->
